body {
    background-color: rgb(188, 247, 211);
  }
  
  .cat {
    height: 200px;
    width: 350px;
    padding-left: 55px;
    padding-bottom: 30px;
  }
  
  .aula16 {
    height: 40px;
    width: 40px;
    padding-left: 30px;
  }

  div h3{
    padding-left: 16px;
  }